p{
    width: 100px;
    background-color: red;
    font-size: 85px;
    text-align: center;
    margin: 0px;
}
#p1{
    color: black;
}
#p2{
    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px,50px); /* translates using both X and Y values */

    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    transform: rotate(180deg); /* does the same as rotateZ */

    transform: scaleX(0.5);
    transform: scaleY(0.5);
    transform: scale(0.5, 0.5); /* scales using both X and Y values */

    transform: skewX(45deg);
    transform: skewY(45deg);

    transform: matrix(0.5,1,1,0.5,50,50);
    /*
        1. scaleX()
        2. skewY()
        3. skewX()
        4. scaleY()
        5. translateX()
        6. translateY()

        We can also use multiple properties of transoframtion just by spacing them.
    */
}