/* Text alignment applies to text and is relative to a specific element */
p.textAlignment{
    border: 1px solid;
    width: 250px;
}
#p1{
    text-align: left;
}
#p2{
    text-align: center;
}
#p3{
    text-align: right ;
}

/* Float property allows the other elements to flow around this element on one of the sides */
img{
    float: left;
    margin: 5px;
}
p.floatProperty{
    width: 300px;
}
#textBlock{
    border: 1px solid;
    width: 300px;
    padding: 10px ;
}

/* The position property is used to place an element somewhere on the page */
h1.positionProperty{
    border: 1px solid;
    background-color: yellow;
    width: 200px;
    position: fixed; /* fixed in place within the viewport */
    position: relative; /* relative to the normal postion */
    position: sticky; /* sticks to the viewport while scrolling */
    position: static; /* default */
    top: 15px;
    left: 15px;
}
p.positionProperty{
    width: 500px;
}
#box1{
    position: relative;
    background-color: lightgray;
    width: 200px;
    height: 200px;
    border: 1px solid;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
}
#box2{
    position: absolute; /* position is relative to its positioned ancestor (otherwise it's relative to the viewport) */
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 1px solid;
    top: 50px;
    left: 50px;
}