body {
	background-color: #111111;
}

p {
	/* The "font-family" property allows you to list fonts in a specific order, so in case of a font failure there is a reserved one that is listed next (and so on) */
	font-family: "Courier New", Courier, monospace;
	font-style: italic;
	font-weight: bold;
	font-size: 18px; /* 16px or 1em by default */
	text-decoration: normal; /* underline wavy blue */
	color: #00aa00;
	background-color: #222222;
}

h1 {
	font-family: "Arvo", "Ink Free", serif;
	color: #00ff00;
}
