ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #dddddd;
}

li > a {
	/* ">" is a child CSS selector; it targets only child elements of an ancestor (while "li a" is a descendant selector which targets child elements and child elements of child elements and so on - exactly like what the word "descendant" means) */
	float: left; /* makes <a> tags sit next to each other in a row */
	display: block;
	color: initial; /* "initial" keyword returns the default CSS value of a property */
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid;
	min-width: 60px;
}

li a:hover {
	background-color: #aaaaaa;
	animation: myGlowAnimation 2s infinite;
}

@keyframes myGlowAnimation {
	50% {
		text-shadow: 0px 0px 15px #8d4aff;
	}
}
