html {
	background: linear-gradient(grey, black); /* Creates a linear gradient */
	/* the "url()" function accepts URL of an item */
	background-image: url("./images/bg.jpg");
	background-repeat: no-repeat; /* Disables background repeating */
	background-position: center; /* Centers the background (useful with images) */
	background-size: cover; /* Covers the entire page */
	background-attachment: fixed; /* Fixes the background so it's not moving along with scrolling */
}

h1 {
	background: linear-gradient(red, orange, yellow, green, cyan, blue, purple);
}

#myText {
	color: white;
	/* add "to {direction}" as the first argument of a gradient function to change its direction */
	background: linear-gradient(to right, grey, black);
}
