html {
	/* An html document have a global margin value by default; we can use negative values to reduce space around elements */
	margin-top: -21px;
	margin-left: -8px;
}

h1 {
	border: 1px solid;
	width: 300px;
}

p {
	border: 1px solid;
	width: 250px;
	padding: 25px;
}

#p1 {
	margin: 25px;
}

#p2 {
	margin: 25px 75px 25px 75px; /* Multiple values are assigned starting from the northern side clockwise (check "Shorthand CSS properties") */
}

#p3 {
	margin: 10%;
}

#p4 {
	margin-left: auto; /* Automatically sticks to the right side, no matter what the size of the browser window is */
}

#p5 {
	margin-right: auto; /* Automatically sticks to the left side */
}

#p6 {
	margin: 0 auto; /* Centers a block-level element horizontally (left and right margin are both auto) */
}
